.cart-main {
    width: 100%;
}
.cart-main table {
    border-collapse:collapse;
    text-align: center;
    width: 95%;
}
.cart-main table tr:first-child {
	font-style: italic;
    font-size: 0.9rem;
    background-color: rgb(249, 249, 250)
}
.cart-main table tr td {
    padding-top: 10px;
    padding-bottom: 10px
}
.cart-item-img {
    width: 100%
}
.cart-item-name {
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
}
.cart-item-price {
    font-weight: normal;
    font-size: 1rem;
    font-style: italic;
}
.cart-item-quantity {
    display: flex;
    width: min-content;
    margin: auto;
}
.cart-item-quantity div {
    margin: auto 12px
}
.cart-item-quantity button {
    border-radius: 0;
    border: none;
    background-color: white;
}
.cart-item-quantity button:hover {
    cursor: pointer;
}
.cart-item-total-cost {
    font-weight: normal;
}
.cart-summary {
    font-size: 1.3rem;
    font-weight: bold;
}
.btn-delete {
    border: none;
    background-color: white;
}