.product-modal {
    width: 70vw;
    background-color: white;
    position: fixed;
    top: 10%;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    padding: 30px;
}
.product-modal .product-image {
    max-height: 70vh;
}
.product-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}
#btn-close {
    position: relative;
    left: 98%;
    border: none;
    background-color: white;
    margin-bottom: 20px;
}
