body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* DETAIL PAGE */
.detailed-product-wrapper1 {
  display: flex;
  width: 60%;
  margin: 40px auto;
}
.detailed-product-wrapper2 {
  width: 60%;
  margin: 40px auto;
}
.small-image {
  height: 60px;
  width: auto;
}
.medium-image {
  width: 300px;
  height: auto
}
.large-image {
  width: 500px;
  height: auto
}
.btn-increase, .btn-decrease {
  cursor: pointer;
}
.product-long-desc {
  width: 50%;
}
.related-products {
  display: flex;
}
.item-existed {
  background-color: white;
  color: black;
  width: 140px;
  display: inline-block;
  position: relative;
  font-size: 0.7rem;
  height: 30px;
  vertical-align: middle;
  border-radius: 5px;
}

/* REGISTER PAGE */
.signup-container {
  width: 40%;
  margin: 40px auto;
  border: 1px solid black;
  padding-top: 50px;
  padding-bottom: 50px;
}
.signup-container div {
  display: flex;
  justify-content: center;
}
.signup-container form {
  margin-top: 50px;
}
.signup-container form input {
  width: 80%;
  margin: 0 auto;
  line-height: 50px;
}
.signup-container .btn-signup {
  width: 80%;
  margin-bottom: 30px;
  margin-top: 20px;
  line-height: 50px;
}

/* CHECKOUT PAGE */
.checkout-container {
  width: 60%;
  margin: 20px auto;
}
.checkout-summary {
  border: none;
  border-collapse: collapse;
  width: 100%;
}
.checkout-summary tr, .checkout-summary td {
  border: none;
}
.checkout-item {
  border-bottom: 1px solid black !important
}
.checkout-item-name {
  font-size: 0.8rem;
  font-weight: 700;
}
.checkout-item-price {
  font-size: 0.7rem;
}