body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* DETAIL PAGE */
.detailed-product-wrapper1 {
  display: flex;
  width: 60%;
  margin: 40px auto;
}
.detailed-product-wrapper2 {
  width: 60%;
  margin: 40px auto;
}
.small-image {
  height: 60px;
  width: auto;
}
.medium-image {
  width: 300px;
  height: auto
}
.large-image {
  width: 500px;
  height: auto;
  margin-right: 50px;
}
#btn-increase, #btn-decrease {
  cursor: pointer;
  border: none;
  background-color: white;
  color: black;
}
.related-products {
  display: flex;
}
.related-product {
  margin-right: 20px;
}
.item-existed {
  background-color: white;
  color: black;
  width: 140px;
  display: inline-block;
  position: relative;
  font-size: 0.7rem;
  height: 30px;
  vertical-align: middle;
  border-radius: 5px;
}
.main-details .qty-wrapper {
  display: flex;
  height: 32px;
}
.main-details .qty-box {
  border: 0.5px solid lightgrey;
  width: fit-content;
  height: 100%;
}
.main-details .qty-box-1 {
  color: grey;
  font-style: italic;
  font-size: 0.8rem;
  padding-right: 50px;
  padding-left: 10px;
}
#input-qty {
  border: none;
  width: 30px;
  text-align: center;
}
.main-details-name {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 20px;
}
.main-details-price {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 20px;
  color: grey;
}
.main-details-short-desc {
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 20px;
  color: grey;
}
.main-details-category {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 0.9rem;
  color: grey;
}
.main-details-category span:first-child {
  font-weight: 700;
}
.main-details-long-desc {
  width: 50%;
  margin-bottom: 50px;
}


/* REGISTER PAGE */
.signup-container {
  width: 40%;
  margin: 40px auto;
  border: 1px solid black;
  padding-top: 50px;
  padding-bottom: 50px;
}
.signup-container div {
  display: flex;
  justify-content: center;
}
.signup-container form {
  margin-top: 50px;
}
.signup-container form input {
  width: 80%;
  margin: 0 auto;
  line-height: 50px;
}
.signup-container .btn-signup {
  width: 80%;
  margin-bottom: 30px;
  margin-top: 20px;
  line-height: 50px;
}

/* CART PAGE */
.cart-coupon-input {
  width: 100%;
  line-height: 35px;
  border: 0.5px solid grey;
}
.cart-coupon-button {
  width: 100%;
  border: none;
  border-radius: 0px !important;
}

/* CHECKOUT PAGE */
.checkout-container {
  width: 60%;
  margin: 20px auto;
}
.checkout-summary {
  border: none;
  border-collapse: collapse;
  width: 100%;
}
.checkout-summary tr, .checkout-summary td {
  border: none;
}
.checkout-item {
  border-bottom: 1px solid black !important
}
.checkout-item-name {
  font-size: 0.8rem;
  font-weight: 700;
}
.checkout-item-price {
  font-size: 0.7rem;
}